<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <!-- magic line: ties to spring logging.file property -->
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>

    <logger name="net.es.oscars" level="debug"/>
    <logger name="org.hibernate.tool.hbm2ddl.SchemaExport" level="off" />

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>