input.verticalSlider {
   width: 10px;
   height: 350px;
   -webkit-appearance: slider-vertical;
   writing-mode: bt-lr;
}

input[type=range] {
  /*-webkit-appearance: none;*/ /* Hides the slider so that custom slider can be made */
  width: 100px; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100px;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
}


input[type=range]::-webkit-slider-runnable-track {
  width: 5px;
  height: 350px;
  cursor: pointer;
  background: #2F7FED;
  border-radius: 1.3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2F7FED;
}

input[type=range]::-moz-range-track {
  width: 5px;
  height: 350px;
  cursor: pointer;
  background: #2F7FED;
  border-radius: 1.3px;
}

input[type=range]::-ms-track {
  width: 5px;
  height: 350px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2F7FED;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2F7FED;
}
input[type=range]::-ms-fill-upper {
  background: #2F7FED;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2F7FED;
}
