<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="shared :: headerFragment (pageTitle='List devices')"/>

<body>
    <div th:include="shared :: navbar"></div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Device</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group: ${groups}">
            <td>
                <a th:href="@{|/admin/group_edit/(${group}|}"
                   th:text="|${group}|"/>
            </td>
        </tr>
        </tbody>
    </table>


</body>
</html>