<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="shared :: headerFragment (pageTitle='List users')"/>

<body>
    <div th:include="shared :: navbar"></div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Username</th>
            <th style="width: 200px;">Fullname</th>
            <th style="width: 200px;">Institution</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td>
                <a href="user"
                   th:href="@{|/admin/user_edit/${user.username}|}"
                   th:text="|${user.username}|"/>
            </td>
            <td th:text="${user.fullName}"/>
            <td th:text="${user.institution}"/>
        </tr>
        </tbody>
    </table>
</body>
</html>