<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="shared :: headerFragment (pageTitle='List component configs')"/>

<body>
    <div th:include="shared :: navbar"></div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Component</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="component : ${components}">
            <td>
                <a href="user"
                   th:href="@{|/admin/comp_edit/${component}|}"
                   th:text="|${component}|"/>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>