<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="shared :: headerFragment (pageTitle='Edit component config')"/>

<body>

<div th:include="shared :: navbar"></div>


<form class="form-horizontal" id="admin_comp_edit"
      action="#" th:action="@{/admin/comp_update_submit}" th:object="${component}" method="post">
    <fieldset>
        <legend>Edit component config</legend>
        <input name="name" type="hidden" th:field="*{name}"/>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="configJson">jsonConfig</label>
            <div class="col-md-4">
                <textarea style="font-family: monospace;"
                          id="configJson" th:field="*{configJson}" class="form-control input-xxlarge" rows="30"></textarea>

                <span class="help-block">JSON config for the component</span>
            </div>
        </div>

    <!-- Button (Double) -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="submit_update">Controls</label>
        <div class="col-md-8">
            <button id="submit_update" type="submit" class="btn btn-success">Update</button>
        </div>
    </div>


    </fieldset>
</form>


</body>

</html>