<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="shared :: headerFragment (pageTitle='List customers')"></head>


<body>
    <div th:include="shared :: navbar"></div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Customers</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customers}">
            <td>
                <a th:href="@{|/admin/cust_edit/${customer.name}|}"
                   th:text="|${customer.name}|"></a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>