<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="shared :: headerFragment (pageTitle='View reservation')"/>
<head th:include="shared :: resvViewFragment"/>

<body>
<div th:include="shared :: navbar"></div>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#reservation_view_viz">Show / hide reservation</a>
            </h4>
        </div>
        <div id="reservation_view_viz" class="panel-body collapse  collapse in"></div>
    </div>

</div>

<script type="text/javascript" th:inline="javascript">
    var connectionId = /*[[${connectionId}]]*/ 'connectionId';
    console.log("connection id: "+connectionId);
</script>

</body>
</html>