<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:include="shared :: headerFragment (pageTitle='New Reservation')"/>
<head th:include="shared :: vizFragment"/>

<body>
<div th:include="shared :: navbar"></div>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#network_panel">Show / hide network</a>
            </h4>
        </div>
        <div id="network_panel" class="panel-body collapse in">
            <div id="network_viz" class="col-md-10"></div>
            <div id="add_junction_div" class="col-md-2" data-spy="affix" data-offset-top="30">
                <button type="submit" id="add_junction_btn" class="btn btn-primary disabled">Add to request</button>
            </div>
        </div>
    </div>
</div>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#reservation_panel">Show / hide reservation</a>
            </h4>
        </div>
        <div id="reservation_panel" class="panel-body collapse  collapse in">

            <div id="reservation_viz" class="panel-body collapse  collapse in col-md-6"></div>
            <div id="resv_common_params_form" class="panel panel-default col-md-6 ">
                <div class="panel-heading">
                    <h4 class="panel-title">Reservation parameters</h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" id="resv_shared_form">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="description">Description</label>
                            <div class="col-md-4">
                                <input id="description" placeholder="Description" class="form-control input-md"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="start_at">Start at</label>
                            <div class='col-md-4 input-group' id="start_at_dtp">
                                <input type='text' id='start_at' class="form-control"/>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="end_at">End at</label>
                            <div class='col-md-4 input-group' id="end_at_dtp">
                                <input type='text' id='end_at' class="form-control"/>
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            </div>
                        </div>
                        <div id="errors_box" class="alert"/>
                        <div class="col-md-6">
                            <a href="#" id="resv_hold_btn" class="btn btn-primary disabled">Hold</a>
                            <a href="#" id="resv_commit_btn" class="btn btn-success disabled">Commit</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

    <div id="pipe_card" class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Pipe parameters</h4>
        </div>
        <div class="panel-body">
            <form class="form-inline" id="pipe_form">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <td>A</td>
                    <td>Bandwidth</td>
                    <td>Z</td>
                    </thead>
                    <tbody>
                    <td><input id="pipe_a" type='text' readonly="true" class='form-control input-md'/></td>
                    <td><input id='pipe_bw' type='text' placeholder='1G' class='form-control input-md'/></td>
                    <td><input id="pipe_z" type='text' readonly="true" class='form-control input-md'/></td>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <div id="junction_card" class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Junction parameters</h4>
        </div>
        <div class="panel-body">
            <form class="form-inline" id="junction_form">

                <table id="resv_node_table" class="table table-striped table-bordered table-hover">
                    <thead>
                    <td>#</td>
                    <td>URN</td>
                    <td>Use</td>
                    <td>Bandwidth</td>
                    <td>VLAN</td>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </form>
        </div>
    </div>


</div>

<!--
<div class="panel-group hidden">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#positions_display">Show / hide positions dump</a>
            </h4>
        </div>
        <div>
            <button type="submit" id="dump_positions_btn" class="btn btn-primary">Dump positions</button>
            <button type="submit" id="save_positions_btn" class="btn btn-primary">Save positions</button>
        </div>
        <div id="positions_display" class="panel-body collapse"></div>
    </div>
</div>
-->

<script type="text/javascript">
    var start = moment(new Date());
    start.add(1, "minutes");
    var end = moment(new Date());
    end.add(16, "minutes");


    $("#start_at").datetimepicker({
        autoclose: true,
        todayBtn: true,
        minDate: start,
        startDate: start,
        setDate: start,
        minuteStep: 10
    });

    $("#end_at").datetimepicker({
        autoclose: true,
        todayBtn: true,
        minDate: start,
        startDate: end,
        setDate: end,
        minuteStep: 10
    });
    $("#start_at").datetimepicker("update", new Date());
    $("#end_at").datetimepicker("update", new Date());
</script>


</body>
</html>