<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="shared :: headerFragment (pageTitle='List reservations')"/>

<body>
    <div th:include="shared :: navbar"></div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">GRI</th>
            <th style="width: 200px;">Commit</th>
            <th style="width: 200px;">Description</th>
            <th style="width: 200px;">Username</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="connection : ${connections}">
            <td>
                <a th:href="@{|/resv/view/${connection.connectionId}|}"
                   th:text="|${connection.connectionId}|"/>
            </td>
            <td>
                <a th:href="@{|/resv/commit/${connection.connectionId}|}"
                   th:text="Commit"/>
            </td>
            <td th:text="${connection.specification.description}"/>
            <td th:text="${connection.specification.username}"/>
        </tr>
        </tbody>
    </table>


</body>
</html>