<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:include="shared :: headerFragment (pageTitle='What-If')"/>
<head th:include="shared :: timeBwFragment"/>

<body>
    <div th:include="shared :: navbar" style="clear:both"></div>

    <h2>What-If?</h2>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#network_panel">Show / hide network</a>
                </h4>
            </div>
            <div id="network_panel" class="panel-body collapse in">
                <div id="loadingBarDiv" class="loadingBarDiv">
                    <div class="loadingBarBorder">
                        <div id="progressVal" class="loadingBarProgress">0%</div>
                        <div class="loadingBarRunner">
                            <div id="progressBar" class="loadingBar" />
                        </div>
                    </div>
                    <div class="loadingBarMessage">Loading Network Topology...</div>
                </div>
                <div id="networkVisualization" class="col-md-10" width="90%"/>
                <div>
                    <div>
                        <button type="reset" id="buttonCancelERO" class="btn btn-danger disabled" onclick="clearERO()">Clear Path</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#availability_panel">Show / hide Bandwidth x Time availability</a>
                </h4>
            </div>
            <div id="availability_panel" class="panel-body collapse  collapse in">
                <div style="float:left" >
                    <input id = "bwSlider" type="range" class="verticalSlider" orient="vertical" min="0" max="30" value="10" step="1" height="400px" width="5px"/>
                </div>
                <div id="bwVisualization"></div>
            </div>
        </div>
    </div>

<p>Bandwidth: </p>
<p id="bandwidth"></p>
<p>Start Time:</p>
<p id="start-time"></p>
<p>End Time:</p>
<p id="end-time"></p>

</body>
</html>