<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:include="shared :: headerFragment (pageTitle='Visualization')"/>
<head th:include="shared :: vizFragment"/>

<body>
<div th:include="shared :: navbar"></div>

<div id="network_viz"></div>

<form class="form-inline" id="add_to_resv_form">
    <button type="submit" class="btn btn-primary">Add to request</button>
</form>

<div id="reservation_viz"></div>

<div id="resv_edge_params_form">
<p>I am the edge parameters form!</p>
</div>

<div id="resv_node_params_form">
    <p>I am the node parameters form!</p>
</div>


</body>
</html>