<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:include="shared :: headerFragment (pageTitle='Visualization')"/>
<head th:include="shared :: vizFragment"/>

<body>
<div th:include="shared :: navbar"></div>

<div id="network_viz" class="container"></div>

<div class="container">
    <form class="form-inline" id="add_node_to_resv_form">
        <button type="submit" class="btn btn-primary">Add to request</button>
    </form>
</div>

<div id="reservation_viz" class="container"></div>

<div id="resv_edge_params_form" class="container">
    <h2>Pipe parameters</h2>
    <form class="form-inline" id="resv_edge_form">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <td>Bandwidth</td>
            </thead>
            <tbody>
            <td><input name='edgebw' type='text' placeholder='1G' class='form-control input-md'  /></td>
            </tbody>
        </table>
    </form>
</div>

<div id="resv_node_params_form" class="container">
    <h2>Junction parameters</h2>
    <form class="form-inline" id="resv_node_port_form">

        <table id="resv_node_table" class="table table-striped table-bordered table-hover">
            <thead>
                <td>#</td>
                <td>URN</td>
                <td>Bandwidth</td>
                <td>VLAN</td>
                <td>Use</td>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
</div>


</body>
</html>